<!--<app-background></app-background>-->
<!--<p id="myYear"> {{ yearThree[0] }} </p>-->


<!--<div id="tableStyle">-->
<!--<h4>Third Year</h4>-->
<!--<table class="table table-striped">-->
<!--<thead>-->
<!--<tr>-->
<!--<th>{{ yearThree[0] }}</th>-->
<!--<th>{{ yearThree[1] }}</th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody>-->
<!--<tr>-->
<!--<td>{{ projectDescription }}</td>-->
<!--<td>{{ projectDescription }}</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<th>{{ yearThree[2] }}</th>-->
<!--<th>{{ yearThree[3] }}</th>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>{{ dataEng }}</td>-->
<!--<td>{{ infoSystems }}</td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->
<!--</div>-->

<!--<div id="cardStyle">-->
<!--<div class="card" style="width: 18rem;">-->
<!--<div class="card-body">-->
<!--<h5 class="card-title">{{ yearThree[0] }}</h5>-->
<!--&lt;!&ndash;<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>&ndash;&gt;-->
<!--<p class="card-text">{{ projectDescription }}</p>-->
<!--&lt;!&ndash;<a href="#" class="card-link">Card link</a>&ndash;&gt;-->
<!--&lt;!&ndash;<a href="#" class="card-link">Another link</a>&ndash;&gt;-->
<!--</div>-->
<!--</div>-->

<!--<div class="card" style="width: 18rem;">-->
<!--<div class="card-body">-->
<!--<h5 class="card-title">{{ yearThree[1] }}</h5>-->
<!--&lt;!&ndash;<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>&ndash;&gt;-->
<!--<p class="card-text">{{ advDescription }}</p>-->
<!--&lt;!&ndash;<a href="#" class="card-link">Card link</a>&ndash;&gt;-->
<!--&lt;!&ndash;<a href="#" class="card-link">Another link</a>&ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<div class="cardUnitsStyle">
  <h4>Third Year</h4>
  <div class="row">
    <div class="col-sm-6">
      <div class="card border-dark mb-3">
        <div class="card-body text-dark">
          <h5 class="card-title">{{ yearThree[0] }}</h5>
          <p class="card-text">{{ projectDescription }}</p>
          <a href="#" class="btn btn-primary">GitHub Link</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card border-dark mb-3">
        <div class="card-body text-dark">
          <h5 class="card-title">{{ yearThree[1] }}</h5>
          <p class="card-text">{{ advDescription }}</p>
          <a href="#" class="btn btn-primary">GitHub Link</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card border-dark mb-3">
        <div class="card-body text-dark">
          <h5 class="card-title">{{ yearThree[2] }}</h5>
          <p class="card-text">{{ dataEng }}</p>
          <a href="#" class="btn btn-primary">GitHub Link</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card border-dark mb-3">
        <div class="card-body text-dark">
          <h5 class="card-title">{{ yearThree[3] }}</h5>
          <p class="card-text">{{ infoSystems }}</p>
          <a href="#" class="btn btn-primary">GitHub Link</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cardUnitsStyle">
  <h4>Second Year</h4>
  <div class="row">
    <div class="col-sm-6">
      <div class="card border-dark mb-3">
        <div class="card-body text-dark">
          <h5 class="card-title">{{ yearThree[0] }}</h5>
          <p class="card-text">{{ projectDescription }}</p>
          <a href="#" class="btn btn-primary">GitHub Link</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card border-dark mb-3">
        <div class="card-body text-dark">
          <h5 class="card-title">{{ yearThree[1] }}</h5>
          <p class="card-text">{{ advDescription }}</p>
          <a href="#" class="btn btn-primary">GitHub Link</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card border-dark mb-3">
        <div class="card-body text-dark">
          <h5 class="card-title">{{ yearThree[2] }}</h5>
          <p class="card-text">{{ dataEng }}</p>
          <a href="#" class="btn btn-primary">GitHub Link</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card border-dark mb-3">
        <div class="card-body text-dark">
          <h5 class="card-title">{{ yearThree[3] }}</h5>
          <p class="card-text">{{ infoSystems }}</p>
          <a href="#" class="btn btn-primary">GitHub Link</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cardUnitsStyle">
  <h4>First Year</h4>
  <div class="row">
    <div class="col-sm-6">
      <div class="card border-dark mb-3">
        <div class="card-body text-dark">
          <h5 class="card-title">{{ yearThree[0] }}</h5>
          <p class="card-text">{{ projectDescription }}</p>
          <a href="#" class="btn btn-primary">GitHub Link</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card border-dark mb-3">
        <div class="card-body text-dark">
          <h5 class="card-title">{{ yearThree[1] }}</h5>
          <p class="card-text">{{ advDescription }}</p>
          <a href="#" class="btn btn-primary">GitHub Link</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card border-dark mb-3">
        <div class="card-body text-dark">
          <h5 class="card-title">{{ yearThree[2] }}</h5>
          <p class="card-text">{{ dataEng }}</p>
          <a href="#" class="btn btn-primary">GitHub Link</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card border-dark mb-3">
        <div class="card-body text-dark">
          <h5 class="card-title">{{ yearThree[3] }}</h5>
          <p class="card-text">{{ infoSystems }}</p>
          <a href="#" class="btn btn-primary">GitHub Link</a>
        </div>
      </div>
    </div>
  </div>
</div>
