.container {
  position: relative;
  display: block;
}

h4 {
  font-family: courier;
  font-weight: 900;
  text-align: center;
}

.card-title {
  text-align: center;
  font-weight: bold;
}

.card-text {
  text-align: center;
  font-style: italic;
}

.uniTitle {
  padding-top: 2.5em;
  font-weight: bold;
}

.btn:hover {
  background-color: #6a7077;
}

#btnCal {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: courier;
  color: white;
}

#btnPro {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: courier;
  color: white;
}

#btnRest {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: courier;
  color: white;
}

#btnSnake {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: courier;
  color: white;
}

#webSite {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: courier;
  color: white;
}

/*#tableStyle {*/
/*display: block;*/
/*margin-left: auto;*/
/*margin-right: auto;*/
/*width: 70%;*/
/*!*display: inline-block;*!*/
/*!*max-width: 70%;*!*/
/*!*padding-left:2em;*!*/
/*!*position: ;*!*/
/*}*/
