<div class="container">
  <p class="uniTitle"> BSc (Hons) Computing, Manchester Metropolitan University <br>
    (Sept 2015 – May 2018)</p>
  <hr>
  <h4>Third Year: 1st Class</h4>
  <div class="card-deck">
    <div class="card border-dark mb-3">
      <div class="card-body text-dark">
        <h5 class="card-title card-title__animation">{{ yearThree[0] }}</h5>
        <hr>
        <p class="card-text">{{ projectDescription }}</p>
        <hr>
        <div class="text-center">
          <a id="btnPro" (click)="clickProject()" class="btn btn-dark btn-mm btn-animation">
            <i class="fab fa-github"></i> Multiplayer Shooter
          </a>
          <hr>
          <a id="webSite" (click)="webSite()" class="btn btn-dark btn-mm btn-animation">
            <i class="fas fa-globe"></i> Lunch Game
          </a>
        </div>
      </div>
    </div>
    <div class="card border-dark mb-3">
      <div class="card-body text-dark">
        <h5 class="card-title card-title__animation">{{ yearThree[1] }}</h5>
        <hr>
        <p class="card-text">{{ advDescription }}</p>
        <hr>
        <div class="text-center">
          <a id="btnCal" (click)="clickCal()" class="btn btn-dark btn-mm btn-animation">
            <i class="fab fa-github"></i> Mortgage Calculator
          </a>
          <hr>
          <a id="btnRest" (click)="clickRest()" class="btn btn-dark btn-mm btn-animation">
            <i class="fab fa-github"></i> Paperless Restaurant
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="card-deck">
    <div class="card border-dark mb-3">
      <div class="card-body text-dark">
        <h5 class="card-title card-title__animation">{{ yearThree[2] }}</h5>
        <hr>
        <p class="card-text">{{ dataEng }}</p>
        <hr>
      </div>
    </div>
    <div class="card border-dark mb-3">
      <div class="card-body text-dark">
        <h5 class="card-title card-title__animation">{{ yearThree[3] }}</h5>
        <hr>
        <p class="card-text">{{ infoSystems }}</p>
        <hr>
      </div>
    </div>
  </div>
  <hr>
  <h4>Second Year: 1st Class</h4>
  <div class="card-deck">
    <div class="card border-dark mb-3">
      <div class="card-body text-dark">
        <h5 class="card-title">{{ yearTwo[0] }}</h5>
        <hr>
        <p class="card-text">{{ webDesign }}</p>
        <hr>
        <div class="text-center">
          <a id="btnSnake" (click)="clickSnake()" class="btn btn-dark btn-mm btn-animation">
            <i class="fab fa-github"></i> Multiplayer Snake Game
          </a>
        </div>
      </div>
    </div>
    <div class="card border-dark mb-3">
      <div class="card-body text-dark">
        <h5 class="card-title card-title__animation">{{ yearTwo[1] }}</h5>
        <hr>
        <p class="card-text">{{ webBased }}</p>
        <hr>
      </div>
    </div>
  </div>
  <div class="card-deck">
    <div class="card border-dark mb-3">
      <div class="card-body text-dark">
        <h5 class="card-title card-title__animation">{{ yearTwo[2] }}</h5>
        <hr>
        <p class="card-text">{{ dataBase }}</p>
        <hr>
      </div>
    </div>
    <div class="card border-dark mb-3">
      <div class="card-body text-dark">
        <h5 class="card-title card-title__animation">{{ yearTwo[3] }}</h5>
        <hr>
        <p class="card-text">{{ prof }}</p>
        <hr>
      </div>
    </div>
  </div>
  <hr>
  <h4>First Year: 1st Class</h4>
  <div class="card-deck">
    <div class="card border-dark mb-3">
      <div class="card-body text-dark">
        <h5 class="card-title card-title__animation">{{ yearOne[0] }}</h5>
        <hr>
        <p class="card-text">{{ javaProg }}</p>
        <hr>
      </div>
    </div>
    <div class="card border-dark mb-3">
      <div class="card-body text-dark">
        <h5 class="card-title card-title__animation">{{ yearOne[1] }}</h5>
        <hr>
        <p class="card-text">{{ webMulti }}</p>
        <hr>
      </div>
    </div>
  </div>
  <div class="card-deck">
    <div class="card border-dark mb-3">
      <div class="card-body text-dark">
        <h5 class="card-title card-title__animation">{{ yearOne[2] }}</h5>
        <hr>
        <p class="card-text">{{ compFund }}</p>
        <hr>
      </div>
    </div>
    <div class="card border-dark mb-3">
      <div class="card-body text-dark">
        <h5 class="card-title card-title__animation">{{ yearOne[3] }}</h5>
        <hr>
        <p class="card-text">{{ infoSys }}</p>
        <hr>
      </div>
    </div>
  </div>
  <hr>
  <h4>College / High School</h4>
  <div class="card-deck">
    <div class="card border-dark mb-3">
      <div class="card-body text-dark">
        <h5 class="card-title card-title__animation">{{ college [0] }}<br>{{ college [1] }}<br>{{ college [2] }}</h5>
        <hr>
        <p class="card-text">{{ gradeCollege [0] }}<br>{{ gradeCollege [1] }}</p>
        <hr>
      </div>
    </div>
    <div class="card border-dark mb-3">
      <div class="card-body text-dark">
        <h5 class="card-title card-title__animation">{{ baysideSchool [0] }}<br>{{ baysideSchool [1] }}</h5>
        <hr>
        <p class="card-text">{{ baySide }}</p>
        <hr>
      </div>
    </div>
  </div>
</div>
