.container {
  position: relative;
  display: block;
}

h4 {
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 0.5rem 0.4rem 2rem rgba(0, 0, 0, 0.3);
  transition: all 1s;
}

h4:focus,
h4:hover {
  outline: none;
  transform: scale(1.4) skewX(15deg);
  text-shadow: 0.5rem 0.4rem 2rem rgba(0, 0, 0, 0.8);
  /* animation: twist .8s ease-out; */
}

.card-title {
  text-align: center;
  font-weight: bold;
}

.card-title__animation {
  text-shadow: 0.5rem 0.4rem 2rem rgba(0, 0, 0, 0.3);
  transition: all 1s;
}

.card-title__animation:focus,
.card-title__animation:hover {
  transform: scale(1.2) skewX(15deg);
  text-shadow: 0.5rem 0.4rem 2rem rgba(0, 0, 0, 0.8);
}


.card-text {
  text-align: center;
  font-style: italic;
}

.uniTitle {
  padding-top: 2.5em;
  font-weight: 600;
  letter-spacing: 1px;
}

.btn {
  transition: all 0.2s;
}

.btn-animation:focus,
.btn-animation:hover {
  outline: none;
  animation: pulsate 1s infinite;
}

#btnCal {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: courier;
  color: white;
}

#btnPro {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: courier;
  color: white;
}

#btnRest {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: courier;
  color: white;
}

#btnSnake {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: courier;
  color: white;
}

#webSite {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: courier;
  color: white;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.10);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }

  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

@keyframes twist {
  0% {
    transform: scale(1) skewY(2deg);
    box-shadow: none;
  }

  50% {
    transform: scale(1.1);
    text-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
  }

  100% {
    transform: skewX(15deg);
    text-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.8);
  }
}
