#myYear {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  font-family: courier;
  /*display: block;*/
  /*top: -594px;*/
  /*left: -21px;*/
}

.container {
  position: relative;
  display: block;
}

/*#tableStyle {*/
/*display: block;*/
/*margin-left: auto;*/
/*margin-right: auto;*/
/*width: 70%;*/
/*!*display: inline-block;*!*/
/*!*max-width: 70%;*!*/
/*!*padding-left:2em;*!*/
/*!*position: ;*!*/
/*}*/

#cardUnitsStyle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

h4 {
  font-family: courier;
  /*font-weight: bold;*/
  font-weight: 900;
  text-align: center;
}

.card-title {
  text-align: center;
  font-weight: bold;
}

.card-text {
  text-align: center;
  font-style: italic;
}

.uniTitle {
  font-weight: bold;
}
