<div class="container">
<p class="uniTitle"> BSc (Hons) Computing, Manchester Metropolitan University <br>
  (Sept 2015 – May 2018)</p>
  <h4>Third Year</h4>
  <div class="card-deck">
    <div class="card border-dark mb-3">
      <div class="card-body text-dark">
        <h5 class="card-title">{{ yearThree[0] }}</h5>
        <hr>
        <p class="card-text">{{ projectDescription }}</p>
        <hr>
        <div class="text-center">
          <a href="https://github.com/ElAndy94/Multiplayer-Shooting-Game" class="btn btn-dark btn-mm ">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="card border-dark mb-3">
      <div class="card-body text-dark">
        <h5 class="card-title">{{ yearThree[1] }}</h5>
        <hr>
        <p class="card-text">{{ advDescription }}</p>
        <hr>
        <div class="text-center">
          <a href="https://github.com/ElAndy94/Mortgage-Calculator" class="btn btn-dark btn-mm ">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://github.com/ElAndy94/Paperless-Restaurant" class="btn btn-dark btn-mm ">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="card-deck">
    <div class="card border-dark mb-3">
      <div class="card-body text-dark">
        <h5 class="card-title">{{ yearThree[2] }}</h5>
        <hr>
        <p class="card-text">{{ dataEng }}</p>
        <hr>
      </div>
    </div>
    <div class="card border-dark mb-3">
      <div class="card-body text-dark">
        <h5 class="card-title">{{ yearThree[3] }}</h5>
        <hr>
        <p class="card-text">{{ infoSystems }}</p>
        <hr>
      </div>
    </div>
  </div>
  <hr>
  <h4>Second Year</h4>
  <div class="card-deck">
    <div class="card border-dark mb-3">
      <div class="card-body text-dark">
        <h5 class="card-title">{{ yearTwo[0] }}</h5>
        <hr>
        <p class="card-text">{{ webDesign }}</p>
        <hr>
        <div class="text-center">
          <a href="https://github.com/ElAndy94/First-Project-MultiPlayer-SnakeGame" class="btn btn-dark btn-mm ">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="card border-dark mb-3">
      <div class="card-body text-dark">
        <h5 class="card-title">{{ yearTwo[1] }}</h5>
        <hr>
        <p class="card-text">{{ webBased }}</p>
        <hr>
      </div>
    </div>
  </div>
  <div class="card-deck">
    <div class="card border-dark mb-3">
      <div class="card-body text-dark">
        <h5 class="card-title">{{ yearTwo[2] }}</h5>
        <hr>
        <p class="card-text">{{ dataBase }}</p>
        <hr>
      </div>
    </div>
    <div class="card border-dark mb-3">
      <div class="card-body text-dark">
        <h5 class="card-title">{{ yearTwo[3] }}</h5>
        <hr>
        <p class="card-text">{{ prof }}</p>
        <hr>
      </div>
    </div>
  </div>
  <hr>
  <h4>First Year</h4>
  <div class="card-deck">
    <div class="card border-dark mb-3">
      <div class="card-body text-dark">
        <h5 class="card-title">{{ yearOne[0] }}</h5>
        <hr>
        <p class="card-text">{{ javaProg }}</p>
        <hr>
      </div>
    </div>
    <div class="card border-dark mb-3">
      <div class="card-body text-dark">
        <h5 class="card-title">{{ yearOne[1] }}</h5>
        <hr>
        <p class="card-text">{{ webMulti }}</p>
        <hr>
      </div>
    </div>
  </div>
  <div class="card-deck">
    <div class="card border-dark mb-3">
      <div class="card-body text-dark">
        <h5 class="card-title">{{ yearOne[2] }}</h5>
        <hr>
        <p class="card-text">{{ compFund }}</p>
        <hr>
      </div>
    </div>
    <div class="card border-dark mb-3">
      <div class="card-body text-dark">
        <h5 class="card-title">{{ yearOne[3] }}</h5>
        <hr>
        <p class="card-text">{{ infoSys }}</p>
        <hr>
      </div>
    </div>
  </div>
<hr>
  <h4>College / High School</h4>
  <div class="card-deck">
    <div class="card border-dark mb-3">
      <div class="card-body text-dark">
        <h5 class="card-title">{{ college [0] }}<br>{{ college [1] }}<br>{{ college [2] }}</h5>
        <hr>
        <p class="card-text">{{ gradeCollege }}</p>
        <hr>
      </div>
    </div>
    <div class="card border-dark mb-3">
      <div class="card-body text-dark">
        <h5 class="card-title">{{ baysideSchool [0] }}<br>{{ baysideSchool [1] }}</h5>
        <hr>
        <p class="card-text">{{ baySide }}</p>
        <hr>
      </div>
    </div>
  </div>
</div>

<!--<div id="tableStyle">-->
<!--<h4>Third Year</h4>-->
<!--<table class="table table-striped">-->
<!--<thead>-->
<!--<tr>-->
<!--<th>{{ yearThree[0] }}</th>-->
<!--<th>{{ yearThree[1] }}</th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody>-->
<!--<tr>-->
<!--<td>{{ projectDescription }}</td>-->
<!--<td>{{ projectDescription }}</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<th>{{ yearThree[2] }}</th>-->
<!--<th>{{ yearThree[3] }}</th>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>{{ dataEng }}</td>-->
<!--<td>{{ infoSystems }}</td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->
<!--</div>-->
<!--<app-background></app-background>-->
