<div class="container">
  <p class="uniTitle"> Work Experience -<br>
    Including Volunteer Experience and References.
  </p>
  <hr>
  <h4>Work Experience</h4>
  <div class="card-deck">
      <div class="card border-dark mb-3">
          <div class="card-body text-dark">
            <h5 class="card-title">{{ workExp[10] }}<br>{{ workExp[11] }}</h5>
            <hr>
            <p class="card-text">{{ fullstack [0] }}<br>{{ fullstack [1] }}<br>{{ fullstack [2] }}<br>{{ fullstack [3] }}<br>{{ fullstack [4] }}</p>
          </div>
        </div>
      <div class="card border-dark mb-3">
          <div class="card-body text-dark">
            <h5 class="card-title">{{ workExp[8] }}<br>{{ workExp[9] }}</h5>
            <hr>
            <p class="card-text">{{ software [0] }}<br>{{ software [1] }}<br>{{ software [2] }}<br>{{ software [3] }}<br>{{ software [4] }}<br>{{ software [5] }}</p>
          </div>
        </div>
  </div>
  <div class="card-deck">
    <div class="card border-dark mb-3">
      <div class="card-body text-dark">
        <h5 class="card-title">{{ workExp[0] }}<br>{{ workExp[1] }}</h5>
        <hr>
        <p class="card-text">{{ cust [0] }}<br>{{ cust [1] }}<br>{{ cust [2] }}<br>{{cust [3] }}</p>
      </div>
    </div>
    <div class="card border-dark mb-3">
      <div class="card-body text-dark">
        <h5 class="card-title">{{ workExp[2] }}<br>{{ workExp[3] }}</h5>
        <hr>
        <p class="card-text">{{ andy [0] }}<br>{{ andy [1] }}<br>{{ andy [2] }}<br>{{andy [3] }}</p>
      </div>
    </div>
  </div>
  <div class="card-deck">
    <div class="card border-dark mb-3">
      <div class="card-body text-dark">
        <h5 class="card-title">{{ workExp[4] }}<br>{{ workExp[5] }}</h5>
        <hr>
        <p class="card-text">{{ avanti [0] }}<br>{{ avanti [1] }}<br>{{ avanti [2] }}<br>{{ avanti [3] }}</p>
      </div>
    </div>
    <div class="card border-dark mb-3">
      <div class="card-body text-dark">
        <h5 class="card-title">{{ workExp[6] }}<br>{{ workExp[7] }}</h5>
        <hr>
        <p class="card-text">{{ ict [0] }}<br>{{ ict [1] }}<br>{{ ict [2] }}<br>{{ ict [3] }}</p>
      </div>
    </div>
  </div>
  <hr>
  <h4>Volunteer Experience</h4>
  <div class="card border-dark mb-3">
    <div class="card-body text-dark">
      <h5 class="card-title">{{ vol [0] }}<br> {{ vol [1] }}</h5>
      <hr>
      <p class="card-text">{{ volunt [0] }}<br>{{ volunt [1] }}<br>{{ volunt [2] }}<br>{{ volunt [3] }}</p>
    </div>
  </div>
  <hr>
  <h4>References</h4>
  <div class="card-deck">
    <div class="card border-dark mb-3">
      <div class="card-body text-dark">
        <h5 class="card-title">{{ jobRef [0] }}<br>{{ jobRef [1] }}</h5>
        <hr>
        <p class="card-text">{{ pref [0] }}<br>{{ pref [1] }}<br>{{ pref [2] }}<br>{{ pref [3] }}<br>{{ pref [4] }}</p>
      </div>
    </div>
    <div class="card border-dark mb-3">
      <div class="card-body text-dark">
        <h5 class="card-title">{{ jobRef [2] }}<br>{{ jobRef [3] }}</h5>
        <hr>
        <p class="card-text">{{ ppref [0] }}<br>{{ ppref [1] }}<br>{{ ppref [2] }}<br>{{ ppref [3] }}<br> {{ ppref [4]
          }}<br>{{ ppref [5] }}</p>
      </div>
    </div>
  </div>
</div>
