h4 {
  font-family: courier;
  /*font-weight: bold;*/
  font-weight: 900;
  text-align: center;
}

.card-title {
  text-align: center;
  font-weight: bold;
}

.card-text {
  text-align: center;
  font-style: italic;
}

.uniTitle {
  font-weight: bold;
}
