<div class="container">
  <h1>Projects & Certifications</h1>
  <div class="projects">
    <h2>Projects</h2>
    <div class="card-deck">
      <div class="card border-dark mb-3">
        <div class="card-body text-dark">
          <h3 class="card-title card-title__animation">React Burger Builder</h3>
          <hr />
          <p class="card-text">Have fun building your custom burger, make sure to check your orders once you have ordered it!</p>
          <p class="card-text">This was a very fun project creating a burger builder, as it is responsive and super fun, also learnt how to use Redux.</p>
          <hr />
          <div class="text-center">
            <a
              (click)="clickProject()"
              class="btn btn-dark btn-mm btn-animation btnColor">
              <i class="fab fa-github"></i> Github Repo
            </a>
            <hr />
            <a
              (click)="clickWebSite()"
              class="btn btn-dark btn-mm btn-animation btnColor">
              <i class="fas fa-globe"></i> Lunch Website
            </a>
          </div>
        </div>
      </div>
      <div class="card border-dark mb-3">
        <div class="card-body text-dark">
          <h3 class="card-title card-title__animation">Angular Recipe Book</h3>
          <hr />
          <p class="card-text">Add recipies to your recipe book! </p>
          <p class="card-text">This was my first project using Angular, where I then from this expanded and created more interesting and challenging projects.</p>
          <hr />
          <div class="text-center">
            <a
              (click)="clickAng()"
              class="btn btn-dark btn-mm btn-animation btnColor">
              <i class="fab fa-github"></i> Github Repo
            </a>
            <hr />
            <a
              (click)="webSiteTwo()"
              class="btn btn-dark btn-mm btn-animation btnColor">
              <i class="fas fa-globe"></i> Lunch Website
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="centerCard">
    <div class="card border-dark mb-3">
        <img class="card-img-top imgAnimation" src="/assets/images/reactFront.png" alt="React Img">
        <div class="card-body text-dark">
            <h3 class="card-title card-title__animation">React Gym System (Web App)</h3>
            <hr />
          <p class="card-text">This is a Gym System which I have created using React, for the backend it uses Express/Node/Mongoose. <br> </p>
          <p class="card-text"> The functionality of the web app is that you can signup, select your contract type etc, followed by being able to view
           all the different classes offered by the gym. <br></p> <p class="card-text"> You are able to book the classes and then view your booked classes with all the information about the classes. <br></p>
          <p class="card-text">All followed by the following operations such as the CRUD, Create classes if you are a PT, read, update classes and delete classes. </p>
        </div>
      </div>
  </div>
  <div class="col-1-of-2">
    <h4>Certifications</h4>
    <div class="composition">
      <img
        src="/assets/images/advCSS.jpg"
        alt="Photo 1"
        class="composition__photo composition__photo--p1"
      />
      <img
        src="/assets/images/algo.jpg"
        alt="Photo 2"
        class="composition__photo composition__photo--p2"
      />
      <img
        src="/assets/images/angular.jpg"
        alt="Photo 3"
        class="composition__photo composition__photo--p3"
      />
      <img
        src="/assets/images/es6.jpg"
        alt="Photo 4"
        class="composition__photo composition__photo--p4"
      />
      <img
        src="/assets/images/express.jpg"
        alt="Photo 5"
        class="composition__photo composition__photo--p5"
      />
      <img
        src="/assets/images/introPy.jpg"
        alt="Photo 6"
        class="composition__photo composition__photo--p6"
      />
      <img
        src="/assets/images/mean.jpg"
        alt="Photo 7"
        class="composition__photo composition__photo--p7"
      />
      <img
        src="/assets/images/mongoose.jpg"
        alt="Photo 8"
        class="composition__photo composition__photo--p8"
      />
      <img
        src="/assets/images/oop.jpg"
        alt="Photo 9"
        class="composition__photo composition__photo--p9"
      />
      <img
        src="/assets/images/react.jpg"
        alt="Photo 10"
        class="composition__photo composition__photo--p10"
      />
      <img
        src="/assets/images/sass.jpg"
        alt="Photo 11"
        class="composition__photo composition__photo--p11"
      />
    </div>
  </div>
</div>
