.container {
  padding-top: 4em;
}

.card-text {
  text-align: center;
  font-style: italic;
  font-size: 16px;
  /* font-weight: 900; */
}

.btn:hover {
  background-color: #6a7077;
}

#btnMarg {
  margin-top: 2em;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: courier;
}

#btnWeb {
  /*margin-top: 2em;*/
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: courier;
}
