<div class="container">
  <div class="text-center">
    <div class="card border-dark mb-3">
      <div class="card-body text-dark">
        <p class="card-text">{{ interests [0] }} </p>
        <hr>
        <p class="card-text">{{ interests [1] }} </p>
        <hr>
        <p class="card-text">{{ interests [2] }} </p>
        <hr>
        <p class="card-text">{{ interests [3] }} </p>
        <div class="text-center">
          <a id="btnMarg" (click)="clickAng()" class="btn btn-dark btn-mm ">
            <i class="fab fa-github"></i> Projects
          </a>
        </div>
      </div>
    </div>
  </div>
