<!--<img class="background" src="./assets/background2.jpg">-->
<!--<figure class="wp-caption">-->
  <!--<div class="app">-->
  <!--<figcaption class="wp-caption-text">Hello!<br>-->
    <!--My name is Andrew Peliza and currently living in Manchester. <br>-->
    <!--Recently finished my degree in Computing.<br>-->
    <!--Actively searching for a role in Web Development. <br>-->
    <!--Ready to begin my journey becoming a successful developer.<br>-->
    <!--&lt;!&ndash;I have a diverse set of skills ranging from;<br> Design, to HTML5, CSS, JavaScript (Express, Node.js, Angular.js, Vue.js, TypeScript), PHP, SQL, jQuery and basic knowledge of other languages...&ndash;&gt;-->
  <!--</figcaption>-->
  <!--<div class="header">-->
  <!--</div>-->
  <!--<div class="body"></div>-->
<!--</div>-->
<!--</figure>-->
