<app-navbar></app-navbar>
<router-outlet></router-outlet>

<!--<div class="parent">-->
<!--<img class="image1" src="./assets/iPhoneX.png">-->
<!--<img class="image2" src="./assets/Logo%20White@2x.png">-->

<!--<p id="aDream">A dream to revolutionise the way the-->
<!--education sector recruits.-->
<!--We are the agency alternative.</p>-->

<!--<button class="btn btn-success" id="signUpNow" type="button">Sign Up Now</button>-->

<!--<img class="image11" src="./assets/iosBlue.png">-->
<!--</div>-->
