html, body {
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  background-color:#343a40;
}

.navbar {
  margin-bottom: 0px;
}

.nav-item {
  padding-left: 50px;
  font-family: courier;
}

.navbar-brand {
  font-family: courier;
}

.background {
  display: block;
  max-width: 100%;
  max-height: 100%;
  opacity: 0.8;
  /*filter: alpha(opacity=40);*/
}

#myName {
  position: relative;
  display: block;
  top: -594px;
  left: -21px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  font-family: courier;
  color: white;
}

.myInfo {
  position: relative;
  display: block;
  top: -558px;
  right: 168px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-family: courier;
  color: white;
}

