<div class="container">
  <div class="text-center">
    <h2>Andrew Peliza</h2>
    <hr>
    <p class="card-text">{{ andyInfo [0] }} </p>
    <p class="card-text">{{ andyInfo [1] }} </p>
    <p class="card-text">{{ andyInfo [2] }} </p>
    <p class="card-text">{{ andyInfo [3] }} </p>
    <p class="card-text">{{ andyInfo [4] }} </p>
    <div class="text-center">
      <a class="btn btn-dark btn-mm" id="btnMe" (click)="clickedMe()"> Get to Know More...
        <i class="fas fa-exclamation"></i>
      </a>
      <div *ngIf="show">
        <div class="card-body text-dark">
          <hr>
          <p class="card-text">{{ thirdInfo [0] }}<br><br>{{ thirdInfo [1] }}</p>
          <hr>
          <a class="btn btn-dark btn-mm" id="btnMore" (click)="clickedMeToo()"> Want to know even more...
            <i class="fas fa-question"></i>
          </a>
          <div *ngIf="showTwo">
            <div class="card-body text-dark">
              <hr>
              <p class="card-text">{{ lastInfo }}<br><b><br>{{ bonus [0] }}</b><br> {{bonus [1] }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <div class="mySpace">
        <a class="btn btn-dark btn-mm" id="btnMarg" (click)="openGit()">
          <i class="fab fa-github"></i> GitHub
        </a>
        <a class="btn btn-dark btn-mm" id="btnRight" (click)="openLink()">
          <i class="fab fa-linkedin"></i> LinkedIn
        </a>
      </div>
    </div>
  </div>
